/****

    General Styles

**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --twitter-color: #1a91da;
    --twitter-links: #1b95e0;
    --success: #1be074;
    --error:  #e02141;
}
.bg-success{
    background-color: var(--success);
}.bg-error{
    background-color: var(--error);
}.bg-twitter-color{
    background-color: var(--twitter-color);
}.bg-gray{
    background-color: rgba(0, 0, 0, 0.03);
}

.success{
    color: var(--success)
}.error{
    color: var(--error);
}.twitter-color{
    color: var(--twitter-color);
}.twitter-links{
    color: var(--twitter-links);
}.gray{
    color:rgb(173, 173, 173)
}

input{
    border: none;
    background-color: rgba(0,0,0,0.0);
}
input:focus-visible {
    outline: rgba(0,0,0,0.0) auto 1px;
}
ul{
    list-style: none;
}
.disable{
    display: none;
}
/**************************
*  Dimensions
***************************/
.w-100{
    width: 100%;
}.max-400{
    max-width: 400px;
}
@media (max-width: 600px){
    .max-400{
        max-width: 280px;
    }
}
.margin-x{
    margin-left: auto;
    margin-right: auto;
}
.icon-logo{
    max-width: 45px;
}
#valuesCounter{
    padding: 4% 0 0 4%;
}
/**************************
*  General optinos to forms
***************************/
.formBorder{
    padding: 12px 16px;
    margin: 15px 0;
    border:  0 solid black;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgb(173, 173, 173);
}

.formInvalidated{
    border-color: rgb(255, 0, 0) !important;
}.formInvalidated label{
    color: rgb(255, 0, 0) !important;
}

.btnForms{
    width: 100%;
    margin-top: 10px;
    padding: 15px 10px;
    background-color: var(--twitter-color) !important;
    border:  0 solid black;
    color:#fff;
    font-size: 15px;
}
.btnForms{
    border-radius: 10px;
}
.btnForms:hover{
    cursor: pointer;
    background-color: var(--twitter-color)!important;
}
.card-error{
    background-color: var(--error);
    color:white;
    font-size: 18px;
    padding: 12px 16px;
    margin: 15px 0;
    border:  0 solid  rgb(224, 90, 90);
    border-width: 1px;
    border-radius: 4px;
}
.icon-logo svg.twitter-color{
    fill: var(--twitter-color) !important;
}

/**********************************************
*           Home Styles
*********************************************/
.top-menu{
    border-bottom: 1px solid #cecece;
}
.top-menu-left{
    padding:5px 15px;
    display: flex;
}
.top-menu-left h2{
    padding: 5px 0 0 10px;
}
.container-home{
    display: flex;
}
.container-home .left{
    overflow: auto;
    background-color: #ffffff;
    position: fixed;
    height: 100vh;
    flex:0;
    padding: 2% 3% 0 6%;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}
.container-home .center{
    margin-left: 10rem;
    padding: 0 10%;
    flex:7;
}
.aside-options{
    background-color: #fff;
    margin-right: 7rem;
    padding-top: 1em;
    flex:4;
}
.aside-item{
    width: 272px;
    padding: 10px 15%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07) ;
}.aside-item:hover{
    background-color: rgba(0, 0, 0, 0.07);
}.aside-item:first-child{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}.aside-item:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.active {
    color: var(--twitter-color);
    border-radius: 100%;
}

.sidemenu .icon-logo{
    width: 200px ;
}
.sidemenu-options{
    width: 150px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;

}
.sidemenu-options ul a{
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-weight: 700;
    font-family: sans-serif;

}.sidemenu-options ul a li{
    transition: 0.2s;
    width: 150px;
    align-items: center;
    text-align: justify;
}
.sidemenu-options ul a li:hover{
    color: var(--twitter-color); 
    border-radius: 25px; 
    background-color: hsla(203, 100%, 69%, 0.125); 
    padding: 6px 9px;
}
.sidemenu-options ul li{
    margin: 2.2rem 0;
}
.sidemenu-options ul li i{
    padding: 5px 15px 0 0 ;
    font-size: 25px;
    font-weight: 700;
}
#tweets .tweets-container{
    margin-bottom: 2%;
    padding:1% 3% ;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    
}
.form-tweet-home{
    padding: 10px !important;
    margin-bottom: 4%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.form-tweet-home #btnTweetign{
    width: 150px;
    margin-left: 70%;
}
#tweets .profile-img,#createTweet-home img{
    width: auto;
}
#tweets .profile-img img, #createTweet-home img{
    width: 70px;
    border-radius: 100%;
}
.btn-tweet,.menu-list-mobile,.top-menu-left img,.lastTweet{
    display: none;
}
#tweet-input{
    border: none;
    width: 80%;
    height: 80px;
}
/* ======================================
Mobile Style Home

=======================================**/
@media only screen and (max-width: 800px) {
    .container-home .left, .right,.form-tweet-home{
        display: none;
    }
    .container-home .center{
        margin: 0;
        padding: 0 2%;
        display: inline;
    }
    .btn-flotante,.menu-list-mobile,.top-menu-left img{
        display: block;
    }
    .top-menu-left img{
        width: 40px;
        border-radius: 100%;
    }
    .profile-img{
        padding: 0 1% 0 3%;
    }
    .profile-img img{
        width: 100%;
    }
    .btn-tweet {
        display: inline;
        font-size: 16px; 
        color: #ffffff; 
        border-radius: 100%; 
        letter-spacing: 2px; 
        background-color: var(--twitter-links); 
        padding: 12px 20px;
        position: fixed;
        bottom: 12%;
        right: 20px;
        transition: all 300ms ease 0ms;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }

    .menu-list-mobile{
        background-color: #fff;
        border-top: 1px solid #cecece;
        display: block;
        position: fixed;
        bottom: 0vh;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        padding: 10px 10%;
        overflow: hidden;
    }
    .menu-list-mobile li{
        margin: 5px 0 5px 0;
    }
    .menu-list-mobile i{
        font-size: 23px;
    }
    .form-tweet{
        padding: 0 2% 0 2%;
    }
    .container-tweet-input{
        padding:10px 15px;
    }

    .container-tweet-input img{
        width: 50px;
        border-radius: 100%;
        top: 10px;
    }
    .container-tweet-input textarea{
        flex: 1;
        margin-top: 20px;
        font-size: 20px;
        border:none;
    }
    .lastTweet{
        display: block;
        margin-top: 15%;
        width: 100%;
    }
    #tweets .profile-img img{
        width: 50px;
    }
}